.calculator{
  margin: auto;
  border: 5px solid lightseagreen;
  width: 248px;
  margin-top: 100px;
  padding: 5px;
  border-radius: 8px;
}
#keyboard{
  display: flex;
}
.pad{
  width: 60px;
  height: 60px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
}
.column{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
}
#clear{
  flex-grow: 2;
  background-color: tomato;
}
#zero{
  flex-grow: 2;
  border-bottom-left-radius: 6px;
}
#equals{
  flex-grow: 2;
  background-color: cornflowerblue;
  border-bottom-right-radius: 6px;
}
#screen{
  border: 1px solid black;
  text-align: right;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5px;
  font-family: 'Courier New', Courier, monospace;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.pad:hover{
  cursor: pointer;
  background-color: gainsboro;
  border: 1px solid floralwhite;
}
.pad:active{
  background-color: lightgray;
}
#display{
  margin-top: 15px;
}
